body {
    font-family: Arial, sans-serif;
    background-color: #f3e8ff;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333333;
}

.container {
    background-color: white;
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}

h1 {
    color: #6a0dad;
}

p {
    font-size: 18px;
}

.video-box {
    margin: 25px;
}

iframe {
    max-width: 100%;
    border-radius: 10px;
}

button {
    background-color: #6a0dad;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4b0082;
}

#musicNote {
    font-size: 60px;
    color: #6a0dad;
    margin-top: 20px;
}

.move {
    animation: floatNote 2s linear;
}

@keyframes floatNote {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-80px);
        opacity: 0.6;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
